/* FONT */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&subset=latin-ext');
/* FONT END */

* {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
}

body {
	background: #F3F3F5;
}

section {
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

h2, h3, h4, h5, h6 {
	color: #fff;
	font-size: 1.57em;
	font-weight: 900;
	margin-bottom: 15px;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: inherit;
	letter-spacing: inherit;
}

a:hover {
	color: #0DCFFF;
	text-decoration: none;
}

a {
	cursor: pointer;
}

p {
	display: block;
	line-height: 1.4em;
	margin: 1em 0;
}

::after, ::before, a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header {
	background-image: url(../img/tezba-a-obchodovani.jpg);
}

/* ARTICLES */

.crypto-articles {
	background-image: url(../img/net.png);
	background-position: bottom;
	background-size: auto;
	background-repeat: no-repeat;

}

.crypto-articles .more {
	float: right;
}

.crypto-articles .container {
	max-width: 1020px;
	padding: 70px 45px;
}

.crypto-articles .button, .crypto-news .button {
	margin-right: 5px;
	margin-top: 5px;
}

.button-main {
	background-color: rgb(14,208,255);
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	overflow: hidden;
	color: #fff;
}

.button-main:hover {
	background: rgb(14,208,255);
	color: #fff;
}

.button-main:hover:after {
	right: 0;
}

.button-main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(-45deg, rgba(14,208,255,1) 0%, rgba(66,214,126,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(14,208,255,1) 0%,rgba(66,214,126,1) 100%);
	background: linear-gradient(135deg, rgba(14,208,255,1) 0%,rgba(66,214,126,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ed0ff', endColorstr='#42d67e',GradientType=1 );
	z-index: 0;
}

.button-main::after {
	content: '';
	position: absolute;
	top: 0;
	right: -200%;
	width: 200%;
	height: 100%;
	background: -moz-linear-gradient(-45deg, rgba(14,208,255,0) 0%, rgba(14,208,255,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(14,208,255,0) 0%,rgba(14,208,255,1) 100%);
	background: linear-gradient(135deg, rgba(14,208,255,0) 0%,rgba(14,208,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ed0ff', endColorstr='#42d67e',GradientType=1 );
	z-index: 0;
}

.crypto-articlesItem {
	margin: 5px;
	padding: 35px 25px;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
	overflow: hidden;
	z-index: 1;
}

.crypto-articlesItem:hover .imageBg, .crypto-servicesItem:hover .imageBg {
	transform: translate(-50%,-50%) scale(1.2);
}

.crypto-articlesItem:before, .crypto-servicesItem:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 0;
}

.button-white {
	background-color: #fff;
	color: #0ED0FF;
	transition: all 0.3s ease-in;
	display: inline-block;
}

.button:hover {
	background-color: #0ED0FF;
	color: #fff;
	transition: all 0.3s ease-in;
}

.crypto-news {
	background: #fff;
	margin: 5px;
	padding: 40px 5px;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.itemNews {
	border-bottom: 1px solid #F3F3F5;
	margin: 0 40px;
	padding: 10px 0;
}

.itemNews:last-child {
	border-bottom: none;
}

.itemNews h2 {
	font-size: 1.14em;
	color: #000;
}

.itemNewsImg {
	padding: 0;
	padding-left: 15px;
	vertical-align: middle;
}

.itemNewsImg img {
	object-fit: cover;
	width: 100%;
}

@media (max-width: 768px) { 
	.itemNewsImg img {
		margin-bottom: 10px;
	}
}

/* CALLBACK */

.crypto-callback {
  background-image: url(../img/pozvanka-do-cccpoint.jpg);
  padding: 40px 15px;
}

@media (max-width: 768px) {
	.crypto-callback {
		padding: 15px;
	}
}

.crypto-block-callback {
	background: linear-gradient(135deg, rgba(14,208,255,1) 0%,rgba(66,214,126,1) 100%);
	padding: 40px;
}

.crypto-block-callback .smallTitle {
	color: #fff !important;
	margin: 25px 0 5px;
}

.crypto-block-callback p {
	color: #fff;
}

.button.button-colorless {
	border: 2px solid #fff;
	color: #fff;
	padding: 11px 13px 10px 13px;
	display: inline-block;
}

.button-colorless:hover {
	background-color: #fff;
	color: #0ED0FF;
}

.crypto-block-callback .button-colorless {
	margin-right: 20px;
}

.crypto-block-callback .button-white {
	margin-top: 15px;
}

/* COMMON STYLES */

.normalWrap {
  max-width: 1020px;
	margin: 0 auto;
}

.biggerWrap {
	max-width: 1280px;
}

.imageBg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  z-index: -1;
}

.smallTitle {
  color: #0DCFFF !important;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 15px !important;
}

.bigTitle {
	font-size: 3.5em;
	font-weight: 900;
}

.smallTitle::before {
	content: '_';
	color: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.more {
	color: #0DCFFF !important;
	font-size: 0.71em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}

.more:hover {
	color: #42D67E !important;
}

.date {
	color: #0DCFFF !important;
	font-size: 0.8em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-bottom: 0.5em;
}

.button {
	padding: 13px 15px 12px 15px;
}

.button span {
	font-size: 11px;
	font-weight: 800;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

/* BOOTSTRAP */

@media (min-width: 768px) {.col-lg-6.crypto-articlesItem {
	width: calc(50% - 10px);}
}

[class*="col"] {
	flex: auto;
}

::-webkit-scrollbar {
	width: 6px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.5);
}

* svg {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

svg path.hidden {
	fill: none !important;
	transform: scale(0);
	transform-origin: center;
}

/*-----------HEADER-------------*/
.crypto-header {
	min-height: 500px;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 0 20px;
}

@media (max-width: 959px) {
	header {
    	background-position: 66.666% center;
	}
}

.crypto-header__actions .button {
	margin-bottom: 20px;
}

.button-main-top {
	padding: 6px 10px;
	border-radius: 4px;
}

.crypto-header__payment .button-main span {
	text-transform: none;
	font-weight: 700;
}

@media (max-width: 959px) {
	.button-main-top {
		margin-bottom: 15px;
	}
}

.crypto-header__top {
	display: flex;
}

.crypto-header__wrap {
	flex-grow: 1;
}
.crypto-header__wrap-top {
	display: flex;
	justify-content: space-between;
}

.crypto-header__payment {
	display: flex;
	align-items: center;
}

.crypto-language-select {
	margin: 0px 10px;
	position: relative;
	width: auto;
	height: auto;
	padding: 0;
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.71em;
	text-align: inherit;
	z-index: 0;
	color: #fff;
	background-color: transparent;
	border: none;
}

.crypto-language-select option {
	color: #000;
}

.crypto-header__social {
	margin-right: 10px;
}

.crypto-header__social-link {
	color: #fff;
	font-size: 18px;
}

.crypto-header__account {
	margin-left: auto;
	position: relative;
	display: block;
	padding: 13px 0 15px 15px;
	font-size: 1.2em;
	font-weight: 900;
	cursor: pointer;
	color: #fff;
}

/*Logo*/
.crypto-header__logo {
	position: relative;
	display: inline-block;
	width: 135px;
	height: 62px;
	margin: 15px 20px;
	margin-left: 0;
	vertical-align: middle;
	cursor: pointer;
}

.crypto-header__logo svg {
	position: relative;
	display: inline-block;
	width: 135px;
	height: 62px;
}

.crypto-header__logo svg path.lines1, svg#logoCCCPoint path.lines1 {
	-webkit-animation: logoAnimation 1s infinite;
	-moz-animation: logoAnimation 1s infinite;
	-o-animation: logoAnimation 1s infinite;
	animation: logoAnimation 1s infinite;
}

.crypto-header__logo svg path.lines2, svg#logoCCCPoint path.lines2 {
	-webkit-animation: logoAnimation 1.3s infinite;
	-moz-animation: logoAnimation 1.3s infinite;
	-o-animation: logoAnimation 1.3s infinite;
	animation: logoAnimation 1.3s infinite;
}

/*Nav*/
.crypto-header__link, .crypto-header__link:link, .crypto-header__link:active, .crypto-header__link:visited {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 0.85em;
	font-weight: 700;
	padding: 15px;
}

.crypto-header__link:after {
	content: '';
	position: relative;
	top: 4px;
	display: block;
	width: auto;
	height: 1px;
	background: rgba(255,255,255,1);
	opacity: 0;
}

.crypto-header__link:hover:after {
	animation: navLinkAnimation 1s ease-out;
	animation-iteration-count: 1;
	opacity: 1;
}

.crypto-header__link i {
	display: inline-block;
	margin-right: 5px;
}

.crypto-header__wrap-bottom .crypto-header__link {
	font-size: 1.2em;
	font-weight: 800;
	letter-spacing: 0.02em;
}

.crypto-header__bottom {
	padding-top: 60px;
}

.crypto-header__subtitle {
	display: block;
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-bottom: 15px;
	color: #fff;
}

.crypto-header__subtitle:before {
	content: '_';
	color: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.crypto-header__title {
	font-size: 3.5em;
	font-weight: 900;
	color: #fff;
	margin-bottom: 15px;
	max-width: 600px;
}

.crypto-header__desc {
	font-size: 1.14em;
	color: #fff;
}
.crypto-header__actions {
	margin: 30px 0;
}
.crypto-header__actions .button {
	margin-right: 20px;
	float: left;
}
/*-----------END HEADER-------------*/

/*-------------SERVICES-------------*/
.crypto-services {
	padding: 15px 0;
	background-color: #fff;
}
.crypto-services__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.crypto-services__item {
	position: relative;
	max-width: 220px;
	padding: 30px;
	flex-shrink: 0;
	border: 1px solid #eee;
}
.crypto-services__item:hover .crypto-services__item--hidden {
	opacity: 1;
}
.crypto-services__item-img {
	margin-bottom: 15px;
	text-align: center;
}
.crypto-services__item-img svg {
	height: 72px;
}
.crypto-services__item-title {
	color: #00B3AD;
	text-align: center;
}
.crypto-services__item--hidden {
	opacity: 0;
	padding: 15px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: .4s;
	background: rgb(14, 208, 255);
	background: -moz-linear-gradient(-45deg, rgba(14, 208, 255, 1) 0%, rgba(66, 214, 126, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(14, 208, 255, 1) 0%, rgba(66, 214, 126, 1) 100%);
	background: linear-gradient(135deg, rgba(14, 208, 255, 1) 0%, rgba(66, 214, 126, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ed0ff', endColorstr='#42d67e', GradientType=1);
}
.crypto-services__item--hidden-img {
	margin-bottom: 15px;
	text-align: center;
}
.crypto-services__item--hidden-img svg {
	height: 48px;
}
.crypto-services__item--hidden-img svg path{
	fill: #fff;
}
.crypto-services__item--hidden-img svg path.hidden {
	fill: #fff!important;
	animation: pulse 1s infinite;
}
.crypto-services__item--hidden-title {
	position: relative;
	font-size: 1.57em;
	font-weight: 900;
	text-align: center;
	margin-bottom: 12px;
	color: #fff;
}
.crypto-services__item--hidden-text {
	text-align: center;
	display: block;
	line-height: 1.2em;
	margin: 1em 0;
	color: #fff;
	max-height: 50px;
	overflow: hidden;
}

@media (max-width: 992px) {
	.crypto-services__item {
		max-width: 45%;
	}
}
@media (max-width: 600px) {
	.crypto-services__item {
		max-width: 90%;
	}
}
/*-------------END SERVICES-------------*/


/*Animation*/
@keyframes logoAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes navLinkAnimation {
	0% {
		width: 10px;
		opacity: 0;
	}
	25% {
		width: 10px;
		opacity: 1;
	}
	50% {
		width: 10px;
		opacity: 0;
	}
	75% {
		width: 10px;
		opacity: 1;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}
@-moz-keyframes navLinkAnimation {
	0% {
		width: 10px;
		opacity: 0;
	}
	25% {
		width: 10px;
		opacity: 1;
	}
	50% {
		width: 10px;
		opacity: 0;
	}
	75% {
		width: 10px;
		opacity: 1;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}
@-ms-keyframes navLinkAnimation {
	0% {
		width: 10px;
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	25% {
		width: 10px;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	50% {
		width: 10px;
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	75% {
		width: 10px;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	100% {
		width: 100%;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
}
@keyframes navLinkAnimation {
	0% {
		width: 10px;
		opacity: 0;
	}
	25% {
		width: 10px;
		opacity: 1;
	}
	50% {
		width: 10px;
		opacity: 0;
	}
	75% {
		width: 10px;
		opacity: 1;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@-ms-keyframes pulse {
	0% {
		-ms-transform: scale(0);
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	50% {
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	100% {
		opacity: 0;
		-ms-transform: scale(1.5);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
}
@-o-keyframes pulse {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-o-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes pulse {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

/*-----crypto-mining section-----*/
.crypto-mining{
	position: relative;
	background: #283037;
	padding: 40px 0;

}

.crypto-mining-wrapper{
	padding: 0 14%;
	margin-top: 10px;
	margin-bottom: 30px;
}
.crypto-mining-title{
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-bottom: 15px;
	padding: 40px 15px;
}
.crypto-mining-title:before{
	content: '_';
	color: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block
}
.crypto-mining-item{
	background: #fff;
	margin: 0 15px;
	padding: 15px;
	min-width: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.crypto-mining-smallTitle{
	color: #0DCFFF ;
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-bottom: 15px;
}
.crypto-mining-link{
	position: relative;
	font-size: 1.57em;
	font-weight: 900;
	text-align: inherit;
	color: #1B161D;
	display: inline-block;
}
.crypto-mining-link:hover{
	color: #1B161D;
}
.crypto-mining-link:visited{
	color: #1B161D;
}
.crypto-mining-link:active{
	color: #1B161D;
}
.crypto-mining-content{
	padding: 15px;
	width: 100%;
}
.crypto-mining-img{
	padding: 15px;
	width: 100%;
}

.crypto-btn{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: auto;
	min-height: 36px;
	font-size: 11px;
	font-weight: 800;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	text-align: center;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 13px 15px 10px 15px;
	margin: 15px 15px 0 15px;
	background: none;
	border-color: inherit;
	overflow: hidden;
	color: #fff;
	background: #0ED0FF;
	transition: all 0.3s ease-in;
}
.crypto-btn:hover{
	background: #fff;
	transition: all 0.3s ease-in;
}
.padding-t-b{
	margin: 40px 15px;
}

.owl-nav {
	width: 100%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 38%;
	left: 50%;
}

.owl-item {
	display: flex;
	justify-content: center;
}

.owl-nav .owl-prev {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 9;
	left: 70px;
}
.owl-nav .owl-next {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 70px;
	z-index: 9;
	color: #fff;
}
.owl-nav .owl-prev::before {
	content: '\f104';
	font-family: 'FontAwesome';
	position: absolute;
	top: 4px;
	left: 14px;
	color: #0DCFFF;
	font-size: 30px;
}
.owl-nav .owl-next::before {
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
	top: 4px;
	right: 14px;
	color: #0DCFFF;
	font-size: 30px;
}

@media (max-width: 992px) {
	.crypto-mining-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 100vw;
		height: 100%;
	}
	.owl-nav .owl-prev {
		left: 0;
	}
	.owl-nav .owl-next {
		right: 0;
	}
}

.crypto-graphs{
	position: relative;
	padding: 70px 0;
	background-image: url(../img/cubeBg.png);
	background-repeat: repeat;
	background-size: auto;
}
.crypto-graphs-wrap{
	position: relative;
	padding: 40px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.25);
}
.crypto-graphs-title{
	color: #0DCFFF ;
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-bottom: 15px;
}
.crypto-graphs-title:before{
	content: '_';
	color: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.divTable {
	display: table;
	width: 100%;
	padding: 10px;
}

.divTableBody {
	display: table-row-group;
}

.divTableRow {
	display: table-row;
}

#currencyTable .divTableCell {
  font-weight: 900;
}

.divTableCell, .divTableHead {
  display: table-cell;
  padding: 8px 15px;
  line-height: 1;
}

.redText {
  color: #E2001A;
}

.greenText {
  color: #41D57D;
}

.crypto-graphs-bottom {
  padding: 40px 0 0 0;
  margin-bottom: -40px;
}

.cryp-mapSection {
  background-size: initial;
  background-repeat: repeat;
}

.smallTitle_center {
  text-align: center;
}

/* map styles */

.crypMap {
  width: 100%;
  height: 75vh;
  min-height: 768px;
}

.map-point {
  position: relative;
  z-index: 9999;
  width: 80px;
  height: 80px;
  background: url('../img/map-point.svg') no-repeat center center;
  padding: 15px;
}

.map-point-desc {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  top: 50%;
  left: 80px;
  min-width: 320px;
  height: auto;
  padding: 15px;
  background-color: #0DCFFF;
  background-image: url('../img/map-point-bg.png');
  background-position: center right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}

.map-point-desc * {
  color: #fff !important;
}

.map-point-desc .btn:hover {
  color: #0ED0FF !important;
  border-color: #fff !important;
}

.map-point-desc h3 {
  font-size: 2.1em;
}

.map-point:hover .map-point-desc {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.crypFooter {
  background-color: #131322;
}

.padding40 {
  padding: 40px 15px !important;
}

.padding40x30 {
  padding: 40px 30px !important;
}

.footerBody__title {
  margin-bottom: 25px;
  font-size: 49px;
  font-weight: 900;
  color: #3E3D40;
  line-height: 1;
}

.crypFooter__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090909;
}

.crypFooter__logo {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.crypFooter__logo-img {
  height: 20px;
  margin-left: 15px;
}

.crypFooter__things {
  display: flex;
}

.footerThing {
  padding: 10px 15px;
  border-right: 1px solid #3E3D40;
}

.footerThings__social {
  margin-left: auto;
}

.footerThings__social-link {
  margin-right: 10px;
  font-size: 12px;
  color: #87888A;
  transition: color 0.3s;
}

.footerThings__social-link:last-child {
  margin-right: 0;
}

.footerThings__social-link:hover,
.footerThings__social-link:active,
.footerThings__social-link:focus {
  color: #0DCFFF;
  text-decoration: none;
  transition: color 0.3s;
}

.footerThings__download-link {
  font-size: 12px;
  color: #87888A;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: color 0.3s;
  text-decoration: none;
}

.footerThings__download-link:hover,
.footerThings__download-link:active,
.footerThings__download-link:focus {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footerThings__payments-img {
  margin-right: 15px;
}

.footerThings__payments-img:last-child {
  margin-right: 0;
}

.chooseLang__label {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
  text-transform: uppercase;
}

.chooseLang__label::after {
  content: '\f0d7';
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 10px;
  font-size: 1em;
  text-align: center;
  font-family: 'FontAwesome';
  color: #87888A;
  z-index: -1;
}

.chooseLang__select {
  position: relative;
  margin-top: -7px;
  padding: 5px 16px 4px 4px;
  font-size: 12px;
  z-index: 2;
  color: #87888A;
  background: none;
  cursor: pointer;
  border-radius: 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.footerThings__portal {
  display: flex;
  height: 100%;
}

.footerThings__portal-link {
  padding: 13px 15px 12px 15px;
  font-size: 10px;
  font-weight: 900;
  color: #1B161D;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  line-height: 1.6;
  background-color: #0ED0FF;
  transition: color 0.3s;
}

.footerThings__portal-link:hover,
.footerThings__portal-link:active,
.footerThings__portal-link:focus {
  color: #0ED0FF;
  text-decoration: none;
  background-color: #fff;
  transition: color 0.3s;
}

.crypFooter__body {
  display: flex;
  padding: 0 15px;
}

.footerBody__menu {
  display: flex;
  width: calc(100% / 1.5);
}

.footerBody__form {
  display: flex;
  width: 100%;
  max-width: 320px;
}

.footerBody__input {
  width: calc(100% - 60px);
  height: 60px;
  margin: 0;
  padding: 13px 20px;
  border: 1px solid #3E3D40;
  border-right: 0;
  color: #fff !important;
  text-align: left;
  vertical-align: top;
  border-radius: 0;
  background-color: inherit;
}

.footerBody__input::placeholder {
  font-size: 14px;
  color: #0f7697;
  opacity: 1;
}

.footerBody__form-submit {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 0;
  border: 1px solid #3E3D40;
  vertical-align: top;
  cursor: pointer;
  outline: none;
  text-align: center;
  overflow: hidden;
}

.footerBody__form-submit::before,
.footerBody__form-submit::after {
  position: absolute;
  font-family: 'FontAwesome';
  color: #0DCFFF;
  font-size: 16px;
  transition: all 0.2s linear;
}

.footerBody__form-submit::before {
  content: '\f1d9';
}

.footerBody__form-submit::after {
  content: '\f105';
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 22px;
  line-height: 11px;
  padding-left: 4px;
}

.footerBody__form-submit:hover {
  background-color: #3E3D40;
}

.footerBody__form-submit:hover::before,
.footerBody__form-submit::after {
  left: 100%;
  top: -16px;
}

.footerBody__form-submit::before,
.footerBody__form-submit:hover::after {
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.footerBody__menu-questions,
.footerBody__menu-lists {
  width: 50%;
}

.footerBody__menu-lists {
  display: flex;
  border-right: 1px solid #3E3D40;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.footerMenu li {
  margin-top: 5px;
}

.footerMenu__link {
  font-weight: 900;
  font-size: 10px;
  color: #0DCFFF;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: color 0.3s;
}

.footerMenu__link:hover,
.footerMenu__link:active,
.footerMenu__link:focus {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footerBody__subscribe {
  width: calc(100% / 3);
}

.crypFooter__bot {
  display: flex;
  align-items: flex-start;
  padding: 0 15px;
  border-top: 1px solid #3E3D40;
}

.crypFooter__bot-logo {
  padding: 15px;
}

.crypFooter__bot-contacts {
  padding: 15px;
}

.footerContacts__address,
.footerContacts__links {
  line-height: 1;
}

.footerContacts__address-text {
  font-size: 10px;
  color: #3E3D40;
}

@media (max-width: 992px) {
  .cryp-grapg {
    margin-top: 30px;
  }
}

@media (max-width: 960px) {
  .crypFooter__head {
    flex-wrap: wrap;
  }

  .crypFooter__body {
    flex-direction: column;
  }

  .footerBody__menu,
  .footerBody__subscribe,
  .footerBody__menu-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .footerBody__menu-lists {
    display: none;
  }

  .footerBody__title br {
    display: none;
  }

  .crypFooter__bot {
    justify-content: center;
    flex-wrap: wrap;
  }

  .crypFooter__things {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .crypto-graphs-wrap {
    padding: 0;
  }

  .footerThings__portal {
    align-items: flex-start;
  }

  .footerThing {
    order: 1;
  }

  .footerThings__lang,
  .footerThings__portal {
    order: 0;
  }
}

.crypto-main-services {
  padding: 40px;
}

.crypto-main-services .crypto-btn {
  margin-top: 75px;
}

.crypto-main-services .row > .smallTitle {
  padding: 40px 0;
}

.crypto-servicesItem {
  overflow: hidden;
  margin: 5px;
  padding: 40px;
}

@media (min-width: 992px) {
  .col-lg-4.crypto-servicesItem {
    width: calc(25% - 10px);
  }
}

.crypto-servicesItem:before {
  background: rgba(40, 48, 55, .8);
}

[class*="col"]:hover [class*="icon"] svg path.hidden {
  fill: #fff !important;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
  -ms-animation: pulse 1s infinite;
  -o-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

.crypto-articles,
.crypto-callback,
.crypto-mining,
section.crypto-graphs {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 767px) {
	.crypto-articles,
	.crypto-callback,
	.crypto-mining,
	.crypto-graphs {
		height: auto;
	}
}


/*---MOBILE---*/
.crypto-header__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 4;
  overflow-x: hidden;
  padding: 47px 15px 47px 15px;
  background: rgb(14,208,255);
  background: -moz-linear-gradient(-45deg, rgba(14,208,255,1) 0%, rgba(66,214,126,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(14,208,255,1) 0%,rgba(66,214,126,1) 100%);
  background: linear-gradient(135deg, rgba(14,208,255,1) 0%,rgba(66,214,126,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ed0ff', endColorstr='#42d67e',GradientType=1 );
}
.crypto-header__mobile-btn {
  position: fixed;
  display: none;
  z-index: 5;
  top: 30px;
  right: 30px;
  width: 32px;
  height: 32px;
  color: #fff;
  border: none;
  background: none;
  padding: 6px 5px;
}
.crypto-header__mobile-btn span {
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: .4s;
}
.crypto-header__mobile-btn span + span {
  margin-top: 5px;
}
.crypto-header__mobile-btn-cross span:nth-of-type(1) {
  transform: translate(0px, 3px) rotate(45deg);
}
.crypto-header__mobile-btn-cross span:nth-of-type(2) {
  display: none;
}
.crypto-header__mobile-btn-cross span:nth-of-type(3) {
  transform: translate(0px, -5px) rotate(-45deg);
}
.crypto-header__mobile-title {
  font-size: 1.2em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 15px;
}
.crypto-header__mobile-soc {
  padding: 15px;
  margin: 15px;
  width: calc(100% - 30px);
  text-align: center;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.crypto-header__mobile-soc .row {
  margin: 0;
  justify-content: center;
  align-items: center;
}
.crypto-header__mobile-soc .button {
  width: 100%;
}
.crypto-header__mobile-soc .crypto-language-select,
.crypto-header__mobile-soc .crypto-header__social-link {
  color: #000;
  margin: 0px 10px;
}
.crypto-header__mobile-soc .crypto-header__account {
  color: #000;
  width: 100%;
  text-align: center;
  background-color: #efefef;
  margin-top: 15px;
}
.crypto-header__mobile-nav {
  margin-top: 20px;
  padding: 0px 15px;
}
.crypto-header__mobile-link {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-align: left;
  position: relative;
  color: #fff;
  font-weight: 700;
}
.crypto-header__mobile-link i {
  margin-right: 10px;
}

/*---END MOBILE---*/

/*--MEDIA--*/
@media (max-width: 992px) {
  .crypto-services__item {
    max-width: 45%;
    margin-bottom: 20px;
  }
  .crypto-header__wrap {
    display: none;
  }
  .crypto-header__mobile-menu {}
  .crypto-header__mobile-btn {
    display: block;
  }
}
@media (max-width: 600px) {
  .crypto-services__item {
    max-width: 90%;
  }
}

@media (max-width: 500px){
	.crypto-mining-wrapper {
		padding: 0px 15px;
	}
}
/*
@media (min-width: 460px) and (max-width: 767px) {
	.crypto-mining-img {
		width: 30%;
	}
	.crypto-mining-content{
		width: 70%;
	}
}*/